<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="mazer/assets/compiled/css/app.css">
    <link rel="stylesheet" href="mazer/assets/compiled/css/app-dark.css">
    <link rel="stylesheet" href="mazer/assets/compiled/css/iconly.css">
</head>

<body>
    Home Index
    <div><a href="/stweb/oldhtml/category_static.html">static category html</a></div>
    <div><a href="/ctweb/oldhtml/category_old">old category html</a></div>
    <div><a href="">new category html</a></div>


</body>

</html>